@charset "UTF-8";
@use "_base";

html,
body {
  font-size: 1rem;
  font-weight: 500;
  color: #161616;
  vertical-align: middle
}

body {
  background: #FFFFFF;
  font-size: min(18px, (18/1440*100) *var(--vw));
  font-weight: 500;
  color: #161616;
  line-height: 1.5;

  a {
    color: #161616;
  }

  p {
    line-height: 1.55;
  }

  img {
    max-width: 100%;
    vertical-align: bottom;
  }

  li {
    list-style: none;
  }

  span {
    display: inline-block;
  }

  @media screen and (max-width: 768px) {
    font-size: calc((14/375*100) *var(--vw));
  }
}

//annotation
.txt {
  &__annotation {
    font-size: 14px;
    padding-left: 1.4em;
    text-indent: -1.4em;

    @media screen and (max-width: 768px) {
      font-size: calc((12/375*100) *var(--vw));
    }

    &::before {
      content: "※";
      padding-right: 0.2em;
    }
  }
}

.no_wrap {
  white-space: nowrap
}

//floating
.floating {
  display: none; //test
  opacity: 0;
  background-color: #EBEBEB;
  position: sticky;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  z-index: 999;
  padding: min(45px, (45/1440*100) *var(--vw)) 0;

  &.show {
    opacity: 1;
  }

  @media screen and (max-width: 768px) {
    padding: calc((20/375*100) *var(--vw)) 0;
    max-height: calc((96/375*100) *var(--vw));
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: min(68px, (68/1440*100) *var(--vw));

    >li {

      >a {
        padding: 0 min(30px, (30/1440*100) *var(--vw));
        height: min(80px, (80/1440*100) *var(--vw));
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: min(10px, (10/1440*100) *var(--vw));
        font-size: min(24px, (24/1440*100) *var(--vw));
        font-weight: 700;
        transition: 0.3s;

        &::before {
          content: '';
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: contain;
        }

        &:hover {
          transform: translateY(4px);
          box-shadow: 0px 0 0 0px #044430;

        }
      }
    }
  }

  &__item {
    &--inquiry {
      width: min(527px, (527/1440*100) *var(--vw));

      a {
        background: #006949;
        color: #FFFFFF;
        box-shadow: 0px min(4px, (4/1440*100) *var(--vw)) 0 0px #044430;

        &::before {
          background-image: url(../images/icon-floating-01.svg);
          width: min(49px, (49/1440*100) *var(--vw));
          height: min(42px, (42/1440*100) *var(--vw));
        }
      }
    }

    &--site {
      width: min(505px, (505/1440*100) *var(--vw));

      a {
        background: #FFFFFF;
        color: #006949;
        border: min(3px, (3/1440*100) *var(--vw)) solid #006949;
        box-shadow: 0px min(4px, (4/1440*100) *var(--vw)) min(4px, (4/1440*100) *var(--vw)) 0px #044430;

        &::before {
          background-image: url(../images/icon-floating-02.svg);
          width: min(51px, (51/1440*100) *var(--vw));
          height: min(49px, (49/1440*100) *var(--vw));
        }
      }
    }
  }

}

//animation
.js-inview {
  opacity: 0;
  transform: translateY(min(20px, (20/1440*100) *var(--vw)));

  @media screen and (max-width: 768px) {
    transform: translateY(calc(5.3333333333 * 1vw));
  }
}

.is-view {
  opacity: 1;
  transform: translateY(0);
  transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

[data-delay="1"] {
  transition-delay: 0.5s
}

[data-delay="2"] {
  transition-delay: 1s
}

[data-delay="3"] {
  transition-delay: 1.5s
}

@media screen and (max-width: 768px) {

  [data-delay="2"],
  [data-delay="3"] {
    transition-delay: 0.5s
  }
}

//inner
.video,
.point,
.step,
.support,
.question,
.floating,
.footer {
  &__inner {
    width: min(1100px, (1100/1440*100) *var(--vw));
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

//header
.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  &__img {
    background: url(../images/bg-header-01.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    width: 799px;
    height: 143px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//mv
.mv {
  background: url(../images/bg-mv-01.png);
  background-repeat: repeat;
  background-position: bottom;
  background-size: auto;

  &__inner {
    height: 100%;
    width: min(1126px, (1126/1440*100) *var(--vw));
    margin: 0 auto 0 min(169px, (169/1440*100) *var(--vw));
    padding: min(183px, (183/1440*100) *var(--vw)) 0 min(40px, (40/1440*100) *var(--vw));
    position: relative;
  }

  &__heading {
    &--txt {
      margin-top: min(32px, (32/1440*100) *var(--vw));

      &::after {
        content: '';
        background: url(../images/img-mv-02.png);
        width: min(341px, (341/1440*100) *var(--vw));
        height: min(56px, (56/1440*100) *var(--vw));
        display: block;
        margin-top: min(29px, (29/1440*100) *var(--vw));
      }
    }

    &--img {
      position: absolute;
      top: min(163px, (163/1440*100) *var(--vw));
      right: 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: min(53px, (53/1440*100) *var(--vw));
    margin-top: min(48px, (48/1440*100) *var(--vw));

    &--txt {
      font-size: min(28px, (28/1440*100) *var(--vw));
      font-weight: 700;
      color: #FFFFFF;
      line-height: 1;
      background: #006948;
      border-radius: min(22px, (22/1440*100) *var(--vw));
      padding: 0 min(20px, (20/1440*100) *var(--vw));
      height: min(43px, (43/1440*100) *var(--vw));
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &:not(:last-child) {
        &::after {
          content: '';
          background: url(../images/figure-mv-01.svg);
          width: min(29px, (29/1440*100) *var(--vw));
          aspect-ratio: 1/1;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: min(-41px, (-41/1440*100) *var(--vw));
        }
      }
    }
  }
}

//video
.video {
  background: #EBEBEB;
  position: relative;
  margin-bottom: min(224px, (224/1440*100) *var(--vw));
  height: min(665px, (665/1440*100) *var(--vw));

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-right: min(275px, (275/1440*100) *var(--vw)) solid transparent;
    border-left: min(275px, (275/1440*100) *var(--vw)) solid transparent;
    border-top: min(110px, (110/1440*100) *var(--vw)) solid #EBEBEB;
    border-bottom: 0;
    position: absolute;
    bottom: min(-110px, (-110/1440*100) *var(--vw));
    left: 50%;
    transform: translateX(-50%);
  }
}

//point
.point {
  &__inner{
    position: relative;
  }
  &__wrap {
    margin-bottom: min(174px, (174/1440*100) *var(--vw));

    &:nth-child(2) {
      .point__inner{
        &::before {
          content: '';
          background: url(../images/img-point-01.png);
          width: min(341px, (341/1440*100) *var(--vw));
          height: min(55px, (55/1440*100) *var(--vw));
          position: absolute;
          top: min(-185px, (-185/1440*100) *var(--vw));
          left:  min(-95px, (-95/1440*100) *var(--vw));
        }
      }
    }

    &:last-child {
      margin-bottom: min(80px, (80/1440*100) *var(--vw));
      .point__inner{
        &::before {
          content: '';
          background: url(../images/img-point-05.png);
          width: min(165px, (165/1440*100) *var(--vw));
          height: min(87px, (87/1440*100) *var(--vw));
          position: absolute;
          top: min(-213px, (-213/1440*100) *var(--vw));
          right:  min(-53px, (-53/1440*100) *var(--vw));
        }
      }
    }
  }

  &__heading {
    background: #EA5413;
    background: url(../images/bg-point-02.png);
    background-repeat: repeat;
    color: #FFFFFF;
    font-size: min(40px, (40/1440*100) *var(--vw));
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    height: min(80px, (80/1440*100) *var(--vw));
    margin-bottom: min(50px, (50/1440*100) *var(--vw));
    position: relative;

    &::before {
      content: '';
      background: url(../images/bg-point-01.png);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: auto;
      width: min(290px, (590/1440*100) *var(--vw));
      height: min(54px, (54/1440*100) *var(--vw));
      position: absolute;
      top: min(-54px, (-54/1440*100) *var(--vw));
      z-index: 5;
    }

    &--sub {
      position: absolute;
      top: min(-54px, (-54/1440*100) *var(--vw));
      color: #FFDD1A;
      font-size: min(45px, (45/1440*100) *var(--vw));
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: min(4px, (4/1440*100) *var(--vw));
      line-height: 1;
      z-index: 10;

    }

    &--txt {
      font-size: min(20px, (20/1440*100) *var(--vw));
      padding-bottom: min(10px, (10/1440*100) *var(--vw));
    }
  }

  &__txt {
    font-size: min(24px, (24/1440*100) *var(--vw));
    font-weight: 700;
    margin-bottom: min(60px, (60/1440*100) *var(--vw));
    text-align: center;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
      content: '';
      background: #E6E6E6;
      width: min(500px, (500/1440*100) *var(--vw));
      aspect-ratio: 1/1;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: min(-50px, (50/1440*100) *var(--vw));
      z-index: 5;
    }
  }

  &__img {
    position: relative;
    z-index: 10;
    width: min(697px, (697/1440*100) *var(--vw));
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: min(40px, (40/1440*100) *var(--vw));
    width: min(403px, (403/1440*100) *var(--vw));
    position: relative;
    z-index: 10;

    &--txt01 {
      font-size: min(20px, (20/1440*100) *var(--vw));
      font-weight: 600;

      &::after {
        content: '';
        background-image: url(../images/arrow-point-01.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        width: min(109px, (109/1440*100) *var(--vw));
        height: min(83px, (83/1440*100) *var(--vw));
        display: block;
        margin: min(50px, (50/1440*100) *var(--vw)) auto 0;
      }
    }

    &--txt02 {
      font-size: min(24px, (24/1440*100) *var(--vw));
      font-weight: 800;
      text-align: center;
    }

    &--strong {
      font-size: min(40px, (40/1440*100) *var(--vw));
      font-weight: 800;
      color: #006949;
    }

    &--orange {
      color: #EA5413;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: min(40px, (40/1440*100) *var(--vw));
  }

  &__item {
    text-align: center;
    width: 100%;
    position: relative;

    &--ttl {
      background: #006949;
      color: #FFDD1A;
      font-size: min(27px, (27/1440*100) *var(--vw));
      font-weight: 700;
      height: min(105px, (105/1440*100) *var(--vw));
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: min(20px, (20/1440*100) *var(--vw)) min(20px, (20/1440*100) *var(--vw)) 0 0;
    }

    &--small {
      font-size: min(22px, (22px/1440*100) *var(--vw));
    }

    &--img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: min(200px, (200/1440*100) *var(--vw));
      border-left: min(8px, (8/1440*100) *var(--vw)) solid #006949;
      border-right: min(8px, (8/1440*100) *var(--vw)) solid #006949;
    }

    &--txt {
      background: #E6E6E6;
      color: #161616;
      font-size: min(20px, (20/1440*100) *var(--vw));
      font-weight: 700;
      height: min(106px, (106/1440*100) *var(--vw));
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 0 min(20px, (20/1440*100) *var(--vw)) min(20px, (20/1440*100) *var(--vw));
      border: min(8px, (8/1440*100) *var(--vw)) solid #006949;
      border-top: none;
    }

    &:not(:last-child) {
      &::after {
        content: 'or';
        font-size: min(33.75px, (33.75/1440*100) *var(--vw));
        font-weight: 700;
        color: #FFFFFF;
        background: #EA5413;
        width: min(72px, (72/1440*100) *var(--vw));
        height: min(49px, (49/1440*100) *var(--vw));
        border-radius: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: min(-56px, (-56/1440*100) *var(--vw));
        z-index: 10;
        line-height: 1;
        padding-bottom: min(23px, (23/1440*100) *var(--vw));
      }
    }
  }
}

//step
.step {
  background-image: url(../images/bg-step-01.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  &__inner {
    padding: min(170px, (170/1440*100) *var(--vw)) 0 min(167px, (167/1440*100) *var(--vw));
    position: relative;

    &::before {
      content: '';
      background-image: url(../images/img-step-06.png);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      width: min(284.63px, (284.63/1440*100) *var(--vw));
      height: min(105.6px, (105.6/1440*100) *var(--vw));
      position: absolute;
      bottom: 0;
      right: min(19px, (19/1440*100) *var(--vw));
    }
  }

  &__heading {
    font-size: min(40px, (40/1440*100) *var(--vw));
    font-weight: 800;
    border-bottom: min(8px, (8/1440*100) *var(--vw)) solid #161616;
    width: fit-content;
    text-align: center;
    margin: 0 auto min(63px, (63/1440*100) *var(--vw));
  }

  &__list {
    display: grid;
    grid-template-rows: min(380px, (380/1440*100) *var(--vw)) min(210px, (210/1440*100) *var(--vw));
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: min(166px, (166/1440*100) *var(--vw)) min(36px, (36/1440*100) *var(--vw));
  }

  &__item {
    border: min(4px, (4/1440*100) *var(--vw)) solid #006949;
    box-shadow: min(3px, (3/1440*100) *var(--vw)) min(6px, (6/1440*100) *var(--vw)) 0 0px #006949;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
    position: relative;
    background: #FFFFFF;
    padding: 0 min(20px, (20/1440*100) *var(--vw));

    &:last-child {
      grid-row: 2 / 3;
      grid-column: 1 / 5;
      margin: 0 min(140px, (140/1440*100) *var(--vw));
      flex-direction: row;
      height: min(210px, (210/1440*100) *var(--vw));

      &::after {
        content: '';
        background-image: url(../images/arrow-step-02.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: min(108px, (108/1440*100) *var(--vw));
        height: min(82px, (82/1440*100) *var(--vw));
        position: absolute;
        top: min(-148px, (-148/1440*100) *var(--vw));
        left: 50%;
        transform: translateX(-50%);
      }

      .step__item {
        &--num {
          margin: 0 min(20px, (20/1440*100) *var(--vw)) auto min(30px, (30/1440*100) *var(--vw));
        }

        &--content {
          margin-left: min(30px, (30/1440*100) *var(--vw));
        }

        &--ttl {
          margin: 0 0 min(24px, (24/1440*100) *var(--vw)) 0;
        }
      }

    }

    &--num {
      margin-bottom: min(28px, (28/1440*100) *var(--vw));
    }

    &--ttl {
      margin: min(25px, (25/1440*100) *var(--vw)) 0 min(24px, (24/1440*100) *var(--vw));
      font-size: min(20px, (20/1440*100) *var(--vw));
      font-weight: 800;
      color: #006949;
    }

    &--txt {
      font-size: min(16px, (16/1440*100) *var(--vw));
      font-weight: 500;
    }

    &:not(:last-child) {
      &::after {
        content: '';
        background-image: url(../images/arrow-step-01.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: min(20px, (20/1440*100) *var(--vw));
        height: min(45px, (45/1440*100) *var(--vw));
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: min(-30px, (-30/1440*100) *var(--vw));
      }
    }

    &:nth-child(4) {
      &::after {
        content: none;
      }
    }

  }
}

//support
.support {
  &__inner {
    padding: min(119px, (119/1440*100) *var(--vw)) 0 min(110px, (110/1440*100) *var(--vw));
  }

  &__heading {
    background: #006949;
    height: min(169px, (169/1440*100) *var(--vw));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: min(40px, (40/1440*100) *var(--vw));
    font-weight: 800;
    color: #FFFFFF;
    position: relative;

    &--yellow {
      color: #FFDD1A;
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-right: min(200px, (200/1440*100) *var(--vw)) solid transparent;
      border-left: min(200px, (200/1440*100) *var(--vw)) solid transparent;
      border-top: min(80px, (80/1440*100) *var(--vw)) solid #006949;
      border-bottom: 0;
      position: absolute;
      bottom: min(-59px, (-59/1440*100) *var(--vw));
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: min(44px, (44/1440*100) *var(--vw));
    margin-bottom: min(90px, (90/1440*100) *var(--vw));

    .support__item {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--ttl {
        font-size: min(24px, (24/1440*100) *var(--vw));
        font-weight: 800;
        color: #EA5413;
        margin: min(30px, (30/1440*100) *var(--vw)) 0;
      }

      &txt {
        font-size: min(16px, (16/1440*100) *var(--vw));
        font-weight: 600;
      }
    }
  }

  &__ttl {
    font-size: min(30px, (30/1440*100) *var(--vw));
    font-weight: 800;
    margin-bottom: min(59px, (59/1440*100) *var(--vw));
    text-align: center;

    &--orange {
      color: #EA5413;
    }
  }

  &__list {
    display: flex;
    margin-bottom: min(80px, (80/1440*100) *var(--vw));

    .support__item {
      width: 100%;
      text-align: center;
      position: relative;

      &--ttl {
        margin: 0 auto min(40px, (40/1440*100) *var(--vw));
        position: relative;
        z-index: 10;
        font-size: min(20px, (20/1440*100) *var(--vw));
        font-weight: 800;
        color: #FFFFFF;
        background: #006949;
        width: min(160px, (160/1440*100) *var(--vw));
        height: min(48px, (48/1440*100) *var(--vw));
        border-radius: min(8px, (8/1440*100) *var(--vw));
        display: flex;
        align-items: baseline;
        justify-content: center;
      }

      &--num {
        font-size: min(28px, (28/1440*100) *var(--vw));
      }

      &:not(:last-child) {
        &::before {
          content: '';
          background: #8FBCAE;
          height: min(3px, (3/1440*100) *var(--vw));
          width: min(350px, (350/1440*100) *var(--vw));
          position: absolute;
          top: min(24px, (24/1440*100) *var(--vw));
          left: min(150px, (150/1440*100) *var(--vw));
          z-index: 5;
        }
      }

      &:last-child {
        .support__item--ttl {
          align-items: center;
          position: relative;

          &::before {
            content: '';
            background-image: url(../images/img-support-01.png);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            width: min(35px, (35/1440*100) *var(--vw));
            height: min(25px, (25/1440*100) *var(--vw));
            position: absolute;
            top: min(-19px, (-19/1440*100) *var(--vw));
            right: min(-18px, (-18/1440*100) *var(--vw));
          }
        }
      }
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }

  &__txt--orange {
    font-size: min(30px, (30/1440*100) *var(--vw));
    font-weight: 800;
    color: #EA5413;
    text-align: center;
    margin: min(50px, (50/1440*100) *var(--vw)) 0 min(119px, (119/1440*100) *var(--vw));
  }

  &__wrap {
    background-color: #E6E6E6;

    .support {
      &__inner {
        padding: min(170px, (170/1440*100) *var(--vw)) 0 min(110px, (110/1440*100) *var(--vw));
        position: relative;

        &::before {
          content: '';
          background-image: url(../images/img-support-02.png);
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: contain;
          width: min(366px, (366/1440*100) *var(--vw));
          height: min(300px, (300/1440*100) *var(--vw));
          position: absolute;
          top: min(-165px, (-165/1440*100) *var(--vw));
          right: min(-70px, (-70/1440*100) *var(--vw));
        }
      }

      &__heading {
        font-size: min(40px, (40/1440*100) *var(--vw));
        font-weight: 800;
        margin-top: min(40px, (40/1440*100) *var(--vw));
        color: #006949;
        background: none;
        text-align: center;
        height: auto;
        position: relative;

        &::after {
          content: none;
        }

        &--lead {
          font-size: min(30px, (30/1440*100) *var(--vw));
          font-weight: 700;
          color: #FFFFFF;
          background: #EA5413;
          width: min(379px, (379/1440*100) *var(--vw));
          height: min(70px, (70/1440*100) *var(--vw));
          border-radius: min(40px, (40/1440*100) *var(--vw));
          position: absolute;
          top: min(-130px, (-130/1440*100) *var(--vw));
          display: flex;
          align-items: center;
          justify-content: center;

          &::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-right: min(47px, (47/1440*100) *var(--vw)) solid transparent;
            border-left: min(47px, (47/1440*100) *var(--vw)) solid transparent;
            border-top: min(28px, (28/1440*100) *var(--vw)) solid #EA5413;
            border-bottom: 0;
            position: absolute;
            bottom: min(-21px, (-21/1440*100) *var(--vw));
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

      &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: min(126px, (126/1440*100) *var(--vw));
        margin-top: min(69px, (69/1440*100) *var(--vw));
        position: relative;

        &::after {
          content: '';
          background-image: url(../images/img-support-03.svg);
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: contain;
          width: min(65px, (65/1440*100) *var(--vw));
          aspect-ratio: 1/1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &__box {
        width: 100%;
        aspect-ratio: 1/1;
        background-color: #FFFFFF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

        &--lead {
          font-size: min(16px, (16/1440*100) *var(--vw));
          font-weight: 900;
          background-color: #006949;
          color: #FFFFFF;
          border-radius: min(30px, (30/1440*100) *var(--vw));
          height: min(30px, (30/1440*100) *var(--vw));
          width: min(171px, (171/1440*100) *var(--vw));
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: min(90px, (90/1440*100) *var(--vw));
        }

        &--ttl {
          font-size: min(20px, (20/1440*100) *var(--vw));
          font-weight: 900;
          margin-top: min(20px, (20/1440*100) *var(--vw));
        }

        &--logo {
          height: min(125px, (125/1440*100) *var(--vw));
          display: flex;
          align-items: center;
        }

        &--txt {
          font-size: min(16px, (16/1440*100) *var(--vw));
          font-weight: 700;
        }

        &--link {
          margin-top: min(40px, (40/1440*100) *var(--vw));

          a {
            font-size: min(16px, (16/1440*100) *var(--vw));
            font-weight: 700;
            color: #EA5413;
            transition: 0.3s;

            &::after {
              content: '';
              background-image: url(../images/arrow-support-01.svg);
              background-repeat: no-repeat;
              background-position: bottom;
              background-size: contain;
              width: min(5px, (5/1440*100) *var(--vw));
              height: min(13px, (13/1440*100) *var(--vw));
              display: inline-block;
              margin-left: min(10px, (10/1440*100) *var(--vw));
            }

            &:hover {
              opacity: 0.6;
            }
          }
        }

        &::after {
          content: '';
          border: min(6px, (6/1440*100) *var(--vw)) solid #006949;
          width: min(441px, (441/1440*100) *var(--vw));
          aspect-ratio: 1/1;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 5;
        }

        &--cross {
          .support__box--lead {
            background: #EA5413;
          }

          &::after {
            border-color: #EA5413;
          }
        }

        >* {
          position: relative;
          z-index: 10;
        }
      }
    }
  }
}

//question
.question {
  background: #EB5C02;

  &__inner {
    padding: min(100px, (100/1440*100) *var(--vw)) 0 min(120px, (120/1440*100) *var(--vw));
    position: relative;

    &::before {
      content: '';
      background-image: url(../images/img-question-01.png);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      width: min(329px, (329/1440*100) *var(--vw));
      height: min(294px, (294/1440*100) *var(--vw));
      position: absolute;
      top: min(-120px, (-120/1440*100) *var(--vw));
      left: min(-90px, (-90/1440*100) *var(--vw));
    }
  }

  &__heading {
    font-size: min(40px, (40/1440*100) *var(--vw));
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
  }

  &__list {
    display: flex;
    gap: min(124px, (124/1440*100) *var(--vw));
    margin-top: min(70px, (70/1440*100) *var(--vw));
  }

  &__item {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    &--ttl {
      font-size: min(30px, (30/1440*100) *var(--vw));
      font-weight: 700;
      margin: min(50px, (50/1440*100) *var(--vw)) 0;
    }

    &--content {
      background: #006949;
      width: 100%;
      height: min(303px, (303/1440*100) *var(--vw));
      padding: min(45px, (45/1440*100) *var(--vw)) 0 min(40px, (40/1440*100) *var(--vw)) min(40px, (40/1440*100) *var(--vw));
      margin-top: min(40px, (40/1440*100) *var(--vw));
      font-size: min(20px, (20/1440*100) *var(--vw));
      font-weight: 700;
      color: #FFFFFF;
      position: relative;

      &::before {
        content: '';
        background-image: url(../images/img-question-04.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        width: min(398px, (398/1440*100) *var(--vw));
        height: min(218px, (219/1440*100) *var(--vw));
        display: block;
      }
    }

    &--txt {
      position: absolute;
      top: min(45px, (45/1440*100) *var(--vw));
      left: min(40px, (40/1440*100) *var(--vw));
      width: min(370px, (370/1440*100) *var(--vw));
      height: min(134px, (134/1440*100) *var(--vw));
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &::before {
      content: "";
      position: absolute;
      width: min(62px, (62/1440*100) *var(--vw));
      aspect-ratio: 1/1;
      background-color: #EB5C02;
      left: min(-31px, (-31/1440*100) *var(--vw));
      top: min(-31px, (-31/1440*100) *var(--vw));
      transform: rotate(45deg);
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      width: min(62px, (62/1440*100) *var(--vw));
      aspect-ratio: 1/1;
      background-color: #EB5C02;
      right: min(-31px, (-31/1440*100) *var(--vw));
      bottom: min(-31px, (-31/1440*100) *var(--vw));
      transform: rotate(45deg);
      z-index: 2;
    }
  }
}

//footer
.footer {
  background: #161616;

  &__inner {
    height: min(100px, (100/1440*100) *var(--vw));
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__copy {
    font-size: min(14px, (14/1440*100) *var(--vw));
    font-weight: 500;
    color: #FFFFFF;
  }
}

//default
.ta-c {
  text-align: center !important;
}

.ta-l {
  text-align: left !important;
}

.ta-r {
  text-align: right !important;
}

.pc_only {
  display: block !important;

  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.sp_only {
  display: none !important;

  @media screen and (max-width: 768px) {
    display: block !important;
  }
}